
#login {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login label {
    font-size: 16px;
}

#login .card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
}

#login .login-card-container {
}